
<div style="display: flex; flex-direction: column; height: 100vh; justify-content: space-between;">

    <mat-toolbar color="primary">App Mis Tiendas</mat-toolbar>
    
    <div>
        <div style="display: flex; flex-direction: column; align-items: center">

            <mat-card-title style="color: #566eef;">Buscar un lugar en el mapa y agrega una tienda</mat-card-title>
            
            <mat-form-field class="example-full-width" appearance="outline" style="width: 50%">
                <mat-label>Buscar un lugar específico</mat-label>
                <input matInput id="pac-input" type="text" placeholder="Buscar un lugar específico">
            </mat-form-field>

            <div class="leyenda">
                <h4 class="mb-8">Para agregar una tienda presiona <b class="highlight">dos veces</b> sobre algún punto del mapa</h4>
                <h4 class="mt-8">Para editar o eliminar una tienda presiona <b class="highlight">una vez</b> sobre el <b class="highlight">ícono</b> de la misma</h4>
            </div>
            
            
            <div id="myPosition" class="example-button-container">
                <button mat-mini-fab color="primary" aria-label="Example icon button with a filter list icon" (click)="irUbicacionActual()">
                    <mat-icon>gps_fixed</mat-icon>
                </button>
            </div>
            
            <!-- <div id="style-selector-control" class="map-control">
                <input type="radio" name="show-hide" id="hide-poi"
                class="selector-control" (change)="ocultarLeyenda(true)">
                <label for="hide-poi">Hide</label>
                <input type="radio" name="show-hide" id="show-poi"
                class="selector-control" checked="checked" (change)="ocultarLeyenda(false)">
                <label for="show-poi">Show</label>
            </div> -->
            
            <div id="style-selector-control" class="map-control" style="background: white; font-size: 1rem;right: .8rem; border-radius: 5px;">
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button id="hide-poi" value="2" class="selector-control" style="margin: .5rem;"  (change)="ocultarLeyenda(true)">Ocultar detalle</mat-radio-button>
                    <mat-radio-button id="show-poi" value="1" class="selector-control" style="margin: .5rem;" checked="checked" (change)="ocultarLeyenda(false)">Mostrar detalle</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
    </div>
    
    <div>
        <mat-card class="card-mapa">
            <agm-map (mapDblClick)="agregarMarcador( $event ); select_marker(infoWindow)"
            (mapClick)="select_marker(infoWindow);"
            [latitude]="lat_ini" 
            [longitude]="lng_ini" 
            [zoom]="17" 
            [maxZoom]="20"
            [minZoom]="15"
            [streetViewControl]="false" 
            [disableDefaultUI]="true" 
            [disableDoubleClickZoom]="true" 
            (mapReady)="mapReady($event)"
            [styles]="customStyle"
            [zoomControl]="true" 
            >
            <!-- (boundsChange)="boundsChanged($event)"> -->
            
                <button id="Logout" class="toggle-button controls button">Logout</button>
            
                <agm-marker (markerClick)=select_marker(infoWindow) 
                *ngFor="let marcador of marcadores; let i = index" 
                [latitude]="marcador.lat" 
                [longitude]="marcador.lng"
                [iconUrl]="icon">
                    <agm-info-window #infoWindow>
                        <h3> {{ marcador.titulo }} </h3>
                        <p> {{ marcador.desc }} </p>
                        <div>
                            <button (click)="editarMarcador( marcador )" mat-raised-button color="primary">Editar</button>
                            <button (click)="borrarMarcador(i)" mat-raised-button color="warn">Borrar</button>
                        </div>
                    </agm-info-window>
                </agm-marker>
            </agm-map> 
        </mat-card>
    </div>

</div>


<script>
    $( document ).ready(function() {
        $(".card-mapa").css("height", 700);
    });
</script>