<form [formGroup]="forma">
    <mat-form-field>
      <mat-label>Nombre de la tienda</mat-label>
      <input matInput placeholder="Nombre" formControlName="titulo">
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Descripción</mat-label>
      <textarea rows="3" matInput placeholder="Descripcion" formControlName="desc"></textarea>
    </mat-form-field>

    <button (click)="guardarCambios()" mat-raised-button color="primary">Guardar</button>
    <button (click)="onNoClick()" type="button" mat-raised-button color="warn">Cancelar</button>
  </form>
  