agm-map{
    height: 100%;
    position: relative;
}

mat-card-content{
    max-height: 100%;
}

#myPosition{
    padding: 10px;
}

.leyenda{
    text-align: center; 
    color: rgb(156, 156, 156);
}

.highlight{
    color: #f96a9b;
}

.mb-8{
    margin-bottom: 8px;
}
.mt-8{
    margin-top: 8px;
}