/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

*{
    box-sizing: border-box;
}

.main-container{
    /* margin-top: 10px;
    padding: 10px; */
    margin: 0;
    padding: 0;
}

/* .search-bar{
    display: flex; 
    justify-content: center;
} */

.card-mapa {
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    position: absolute;
    padding:0 !important;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    height: 72vh;
    overflow: hidden;
}

/* .mat-card{
    padding: 0 !important;
} */